.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

    .boxes_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        position: relative;
        column-gap: 10px;
        row-gap: 4px;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;

        .boxes_item {
            img {
                height: 234px;
                width: 234px;
                object-fit: cover;

            }

            .boxes_text {
                position: absolute;
                background: rgba(255, 204, 33, 1);
                width: 120px;
                height: 32px;
                transform: translate(0, -36px);

                span {
                    position: relative;
                    top: 10px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-left: 10px;
                    font-family: Inter;
                }
            }
        }

        .boxes_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 100%);
            bottom: 0px;

            button {
                width: 296px;
                height: 56px;
                background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
                border: none;
                outline: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: center;
                color: #fff;
                margin-top: 1.5rem;
                font-family: Hiragino Kaku Gothic Pro;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .boxes_scroll {
        width: 48px;
        height: 48px;
        border: 1px solid rgba(119, 119, 119, 1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s ease;
        transform: translateX(20px);

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 150, 60, 1);
            border: none;

            .boxes_icon {
                color: #fff;
                font-size: 23px;
            }
        }

        .boxes_icon {
            color: rgba(119, 119, 119, 1);
            font-size: 23px;
            transition: 0.2s ease;


        }
    }

    @media (max-width:1050px) {
        .boxes_wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            position: relative;
            column-gap: 10px;
            row-gap: 4px;
            justify-content: center;
            align-items: center;

        }
    }

    @media (max-width:550px) {
        .boxes_wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
            position: relative;
            column-gap: 10px;
            row-gap: 4px;
            justify-content: center;
            align-items: center;

        }
    }
}