@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+JP:wght@300;400&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}